:root {
          --color-white: white;
          --color-light-yellow: #f6d365;
          --color-dark-yellow: #fda085;
          --color-orange: #ff6f47;
          --color-green: #50C878;
}
*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
body{
          background-image: linear-gradient(120deg, var(--color-light-yellow), var(--color-dark-yellow));
          color: var(--color-white);
          font-family: 'Poppins', sans-serif;
          min-height: 100vh;
}
.section-outer{
       width: 600px;
       margin: auto;
}
header{
          font-size: 18px;
}
header,
form{
          min-height: 20vh;
          display: flex;
          justify-content: center;
          align-items: center;
          
}
form {
       width: 100%;
       padding: 10px;
}
.form-cover{
       width: 70%;
       display: inline-flex;
}
.todo-input {
       width: 80%;
}
.todo-button {
       width: 20%;
}
.filter-todo{
       padding-right: 0;
}

form input, 
form button{
          padding: 0.8rem;
          font-size: 18px;
          border: none;
          background: var(--color-white);
}
form button{
          color: var(--color-dark-yellow);
          background: var(--color-white);
          cursor: pointer;
          transition: all 0.3s ease;
}
form button:hover{
          background: var(--color-dark-yellow);
          color:  var(--color-white);
}

.todo-container {
       max-width: 600px;
       margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
}
.todo-list{
          list-style: none;
          width: 100%;
}
.todo{
          margin: 0.5rem;
          background:  var(--color-white);
          color: black;
          font-size: 1.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: all 0.5s ease;
}
.todo li{
          flex: 1;
}
.trash-btn, .complete-btn{
          background:  var(--color-orange);
          color: var(--color-white);
          border: none;
          padding: 1rem;
          cursor: pointer;
          font-size: 1rem;
}
.complete-btn{
          background: var(--color-green);
}
.todo-item{
       padding: 0rem 1rem;   
}
.fa-trash, 
.fa-check{
          pointer-events: none;
}
.completed{
          text-decoration: line-through;
          opacity: 0.5;
}
.fall{
          transform: translateY(8rem) rotate(20deg);
          opacity: 0;
}
select{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          border: none;
}
.select{
          margin: 1rem;
          position: relative;
          overflow: hidden;
          margin-right: 0px;
}
select{
          color: var(--color-orange);
          width: 10rem;
          cursor: pointer;
          padding: 1rem;
}
.select::after{
          content: '\25BC';
          position: absolute;
          background: var(--color-orange);
          top: 0;
          right: 0px;
          padding: 1rem;
          pointer-events: none;
          transition: all 0.3s ease;
}
.select:hover::after{
          background: var(--color-white);
          color: var(--color-orange);
}